<%@ Master Language="VB" CodeFile="master.master.vb" Inherits="Master" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>My Sweet VB Website
        <asp:ContentPlaceHolder id="head" runat="server"></asp:ContentPlaceHolder>
    </title>
</head>
<body>
    <form id="frmMain" runat="server">
    <div>
        <asp:ContentPlaceHolder id="body" runat="server"></asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
